/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #4ABDAC;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
h1 {
  font-size: 4rem;
  margin-left: 20px;
  color: black;
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
p {
  margin: 20px;
  line-height: 1.25;
}
.container {
  /* constraint */
  max-width: 1058px;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 20px;
}
.intro {
  margin: 3px;
}
.intro span {
  font-style: italic;
  font-size: 2.5rem;
  margin-top: 40px;
}
.intro h3 {
  font-size: 2rem;
  margin-left: 359px;
  margin-right: 395px;
  box-shadow: 0 0 40px 0 #F7B733;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px 0 #FC4A1A;
  margin-bottom: 27px;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}
header nav a .birthday {
  height: auto;
  width: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  width: 104%;
  margin: 10px;
}
.main-content {
  border-top: 1px  solid black;
  padding-top: 20px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  width: 48%;
}
.main-content h2 {
  align-items: center;
}
img {
  border-radius: 10px;
}
.birthday {
  height: auto;
  width: 54%;
  margin-top: 40px;
}
.twokids {
  width: 44%;
}
.grand {
  width: 95%;
  margin-top: 26px;
}
.stay {
  width: 90%;
}
